* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
      box-sizing: border-box;
  }

body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    height: 100vh;
}
.logo {
    width: 50px; /* Adjust the size as needed */
    height: auto;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* for the consent radio */

label {
  display: inline-flex;
  align-items: center;
  font-family: 'Arial', sans-serif;
}

input[type="radio"] {
  margin-right: 10px;
}

/* end of consent radio */

.form-group{
  margin-bottom: 0px;
}

.form-control{
  padding: 10px;
  margin-bottom: 0px;
}
.error-message {
  color: red;
  font-size: 0.875em;
}


/*for the img logo*/
.header-content img {
    margin: 0 10px; /* Adjust the spacing as needed */
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.card {
    border-radius: 15px;
}

.card-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

#ratingChart {
    max-width: 400px;
    margin: auto;
}
/* =============================== */
/* 
.rating{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.rating input{
  display: none;
}
.rating label{
  position: relative;
  width: 0;
  height: 128px;
  cursor: pointer;
  transition: 0.5s;
  filter: grayscale(1);
  text-align: center;
  opacity: 0;
}

.rating :hover label {

  width: 10px;
  opacity: 0.2;
  
}
.rating input:hover + label,
.rating input:checked + label{
filter: grayscale(0);
opacity: 1;
width: 160px;
}

.rating label h4{
  color: #fff;
  font-size: 24px;
  padding-top: 10px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(-50px) scale(0);
  transition: 0.5s;
}

.rating input:hover + label h4,
.rating input:checked + label h4{ 
  opacity: 1;
  transform: translateY(0) scale(1); }*/


/* start of satisfaction form  */
.rating {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 20px;
  
  input {
    appearance: none;
  }
  
  label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;
    height: 128px;
    text-align: center;
    transition: 0.4s;
    filter: grayscale(100%);
    cursor: pointer;
    opacity: 0;
  }
  
  img {
    margin-bottom: 12px;
  }
  
  span {
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    transform: translatey(12px) scale(0.4);
    font-weight: 600;
    font-size: 20px;
    white-space: nowrap;
    opacity: 0;
    transition: 0.4s;
  }
}

.rating:hover {
  label {
    width: 160px;
    opacity: 0.2;
  }
}

.rating  {
  input:hover + label,
  input:checked + label {
    width: 160px;
    opacity: 1;
    filter: grayscale(0);
    
    span {
      transform: none;
      opacity: 1;
    }
  }
}


/* end of satisfaction form */

/* make p editable for email address */

p[contenteditable="true"] {
  border: 1px dashed #ccc;
  padding: 5px;
  outline: none;
}
p[contenteditable="true"]:focus {
  border-color: #66afe9;
  background-color: #f0f8ff;
}

/* end of p content edit */

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  h1 {
    text-align: center;  
  }
  
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }